In [4]:
import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split

In [5]:
#loading training data

train_data=pd.read_csv('C:/Users/kadam/Downloads/mobile_price_pred/train.csv')

#loading testing data

test_data=pd.read_csv('C:/Users/kadam/Downloads/mobile_price_pred/test.csv')

In [6]:
Features=train_data.drop( columns = ['fc','n_cores','px_height' ,'px_width','price_range', "wifi" , "blue" , "clock_speed" , "dual_sim", "m_dep","mobile_wt", "talk_time" , "three_g" , "touch_screen" ,"wifi"])

In [7]:
Features.head()

   battery_power  four_g  int_memory  pc   ram  sc_h  sc_w
0            842       0           7   2  2549     9     7
1           1021       1          53   6  2631    17     3
2            563       1          41   6  2603    11     2
3            615       0          10   9  2769    16     8
4           1821       1          44  14  1411     8     2

In [8]:
Label=train_data['price_range']

In [9]:
x_train,x_test,y_train,y_test=train_test_split(Features,Label,random_state=4,test_size=0.2)

### > Linear Regression

In [10]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [11]:
from sklearn.metrics import mean_squared_error
predict=lr.predict(x_test)
mean_squared_error(predict,y_test)

0.14966820407851716

In [12]:
acc=lr.score(x_test,y_test)*100
print("Accuracy of the Model is = ", acc ,"%")

Accuracy of the Model is =  88.57227469562888 %

### > Knn

In [13]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=10)
knn.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=10, p=2,
                     weights='uniform')

In [14]:
knn_predict=knn.predict(x_test)
print("Accuracy of Model is :" , knn.score(x_test,y_test)*100,"%")
print("Mean Square Error is :" , mean_squared_error(knn_predict,y_test)*100 ,"%")

Accuracy of Model is : 83.0 %
Mean Square Error is : 17.0 %

In [15]:
test=test_data.drop( columns = ['fc','n_cores','px_height' ,'px_width' ,'id', "wifi" , "blue" , "clock_speed" , "dual_sim", "m_dep","mobile_wt", "talk_time" , "three_g" , "touch_screen" ,"wifi"])

In [16]:
test.head()

   battery_power  four_g  int_memory  pc   ram  sc_h  sc_w
0           1043       0           5  16  3476    12     7
1            841       1          61  12  3895     6     0
2           1807       0          27   4  2396    17    10
3           1546       1          25  20  3893    10     0
4           1434       1          49  18  1773    15     8

In [17]:
test_predict=knn.predict(test)

In [18]:
print(test_predict)

[3 3 2 3 1 3 3 0 3 0 3 3 0 0 2 0 2 1 3 2 0 2 1 1 3 0 2 0 3 0 2 0 2 0 0 1 2
 2 3 1 1 2 0 0 0 1 1 2 1 2 1 0 3 0 3 1 3 1 1 3 3 3 0 2 1 1 1 2 1 1 1 2 2 3
 3 0 2 0 2 3 1 3 3 0 3 0 3 1 3 0 1 2 3 0 2 2 0 2 1 3 1 0 0 2 1 2 0 1 2 3 3
 2 1 3 3 3 3 1 3 0 0 3 2 2 1 0 3 2 2 1 0 1 1 1 3 0 2 0 3 2 1 3 1 2 3 3 3 3
 1 3 2 3 0 0 3 2 3 3 3 3 2 2 3 2 3 3 1 0 3 0 0 0 1 0 0 1 1 0 1 2 0 0 0 0 2
 2 2 0 0 0 0 0 0 3 1 1 2 2 2 3 1 2 3 2 3 1 1 1 1 0 1 2 1 2 3 3 0 2 0 3 2 3
 3 1 0 1 0 3 0 1 0 2 2 1 2 0 3 0 3 1 2 0 0 2 1 3 2 3 1 2 3 0 0 3 3 3 1 3 1
 0 3 2 1 2 3 3 3 1 0 1 2 2 1 1 3 2 0 3 0 1 2 0 0 3 2 3 2 2 1 3 2 2 3 1 2 1
 1 0 2 3 1 0 0 3 0 3 0 1 2 0 2 3 1 3 1 2 1 2 0 0 0 1 3 1 0 0 0 3 2 0 3 3 0
 3 2 2 3 1 3 3 2 2 3 3 3 0 3 1 3 1 3 1 3 2 0 1 1 3 1 3 2 3 0 0 0 0 2 0 0 1
 2 1 2 2 2 0 1 0 0 3 2 1 2 1 1 2 1 2 3 1 1 3 2 1 2 0 1 0 0 3 2 1 0 2 0 0 1
 0 0 0 0 2 2 3 1 3 0 3 1 3 0 2 1 1 1 0 2 2 3 2 1 3 2 3 2 3 2 1 2 2 1 2 0 0
 0 1 2 0 1 3 2 0 2 2 0 0 3 1 1 0 3 2 3 0 3 1 2 3 2 3 0 1 0 2 2 0 1 1 0 0 1
 1 2 3 3 2 2 2 1 1 2 2 2 3 2 1 3 1 2 2 1 0 2 2 0 0 0 3 1 1 2 2 2 1 3 0 2 3
 0 3 0 3 3 0 1 1 3 3 1 0 2 3 3 0 2 1 3 0 3 3 1 2 2 2 3 0 1 2 3 1 3 2 3 1 0
 1 0 3 1 0 3 2 3 2 0 2 3 3 2 3 3 1 2 1 2 3 3 0 0 1 1 1 2 1 0 0 2 2 3 1 0 2
 1 3 3 0 1 3 0 2 1 1 0 0 1 1 0 1 1 2 1 0 2 2 1 0 3 0 0 3 1 0 0 0 0 0 3 0 3
 0 3 2 1 3 2 0 2 1 3 2 2 1 0 3 0 2 0 2 0 1 0 1 1 2 1 3 0 3 2 2 1 3 2 0 1 3
 0 3 3 0 2 1 1 2 0 3 2 0 3 2 3 0 0 3 0 1 1 3 2 2 2 2 1 2 3 0 1 1 1 2 1 0 0
 1 0 0 2 1 1 1 0 1 1 1 2 0 3 3 3 0 0 1 2 2 2 0 1 1 0 1 1 0 0 3 3 1 3 1 2 3
 0 1 0 2 2 0 3 1 0 3 1 1 0 3 3 3 2 3 0 3 2 0 1 1 3 3 2 0 1 1 2 1 0 3 2 1 3
 1 2 1 1 1 3 1 1 1 2 0 0 2 2 0 2 0 0 1 0 3 3 3 3 0 1 2 2 1 0 0 2 1 0 2 0 2
 2 2 1 2 0 2 1 3 0 0 3 1 3 0 0 2 2 2 1 2 2 2 0 0 2 3 0 3 0 0 1 2 2 1 2 0 3
 2 1 2 3 3 0 1 1 1 1 2 2 0 2 3 1 2 3 1 2 3 1 0 1 2 3 3 0 2 3 0 2 3 2 1 2 3
 2 1 1 2 0 2 1 1 2 2 2 1 2 0 1 1 3 1 0 1 2 3 1 0 0 3 2 2 2 0 2 2 2 1 3 0 0
 2 1 2 1 1 3 3 0 3 0 2 2 0 2 2 2 2 1 1 2 3 1 0 2 1 2 1 2 0 2 2 0 2 3 2 3 0
 2 0 0 1 2 2 3 0 3 2 2 1 3 0 1 3 0 1 0 0 3 2 2 0 0 0 0 3 3 3 2 0 0 2 1 1 2
 2]

In [19]:
test['price_range']=test_predict
test.head()

   battery_power  four_g  int_memory  pc   ram  sc_h  sc_w  price_range
0           1043       0           5  16  3476    12     7            3
1            841       1          61  12  3895     6     0            3
2           1807       0          27   4  2396    17    10            2
3           1546       1          25  20  3893    10     0            3
4           1434       1          49  18  1773    15     8            1

In [20]:
import pickle
pickle_out = open("knn.pkl","wb")
pickle.dump(knn, pickle_out)
pickle_out.close()

In [21]:
knn.predict([[1000,1,16,16,2000,10,7]])

array([1], dtype=int64)